body {
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif; /* Optional: Set a default font */
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Stack children vertically */
    position: relative;
}

#themeToggleIcon {
    cursor: pointer;
    transition: transform 0.3s;
}

/* Container for theme toggle and login/logout button */
.theme-login-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px; /* Spacing between the icon and the button */
    z-index: 15; /* Ensure it's above other elements */
}


img[alt="AmethystKey Logo"] {
    top: 20px;
    left: 20px;
    width: 300px;
    z-index: 10;
    position: absolute; /* Ensure it's positioned relative to its nearest positioned ancestor */
}

.navbar {
    padding: 10px 20px; /* Add some padding to the navbar */
}

[data-theme="dark"] {
    background-color: #333;
    color: #f4f4f4;
}

[data-theme="dark"] .bg-dark {
    background-color: #222 !important;
}

[data-theme="dark"] .text-white,
[data-theme="dark"] .table-bordered th,
[data-theme="dark"] .table-bordered td {
    color: #f4f4f4 !important;
}

[data-theme="dark"] .card {
    background-color: #444;
    color: #eee;
    border-color: #444;
}

[data-theme="dark"] .card-header {
    background-color: #444;
    color: #eee;
}

[data-theme="dark"] .btn-info {
    background-color: #666 !important;
    border-color: #555 !important;
}

[data-theme="dark"] .table-bordered,
[data-theme="dark"] .table-bordered th,
[data-theme="dark"] .table-bordered td {
    border-color: #555 !important;
}

/* Footer styling */
.footer {
    position: fixed; /* This will fix the footer to the bottom of the screen */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    z-index: 5; /* Ensure the footer is above other elements but below the logo */
}

[data-theme="dark"] .footer {
    background-color: #444;
    color: #eee;
}

.secrets-table {
    font-size: 0.8em;  /* Adjust this value as needed */
}
