<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmethystKey - Secret Management Home</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <style>
        /* Highlight searched keyword */
        .highlight {
            background-color: yellow;
        }
    </style>
</head>

<body>
<!-- Main container -->
<div class="container-fluid bg-dark text-white py-5 position-relative" style="padding-top: 320px;">

    <!-- AmethystKey Logo -->
    <img src="{{ url_for('static', filename='amethystKeyLogo.svg') }}" alt="AmethystKey Logo" class="position-absolute" style="top: 10px; left: 10px; width: 300px;">

    <!-- Theme Toggle -->
    <svg id="themeToggleIcon" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <!-- Sun icon (default) -->
        <path class="sun-icon" d="M12 4V2M12 22V20M4.22 4.22L2.8 2.8M20.24 20.24L18.83 18.83M2 12H4M20 12H22M4.22 19.78L2.8 21.2M20.24 3.76L18.83 2.35M12 6A6 6 0 0112 18A6 6 0 0112 6Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <!-- Moon icon (hidden by default) -->
        <path class="moon-icon" d="M21 12.79A9 9 0 0112.79 21A9 9 0 0121 12.79Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display: none;"/>
    </svg>

    <h1 class="text-center">AmethystKey - CRYSTAL Secret Management Service</h1>
    <p class="text-center">It combines the allure of amethyst, a captivating gemstone, with the idea of securely safeguarding valuable keys or secrets.</p>
    <div class="text-center mt-4 d-flex flex-column flex-md-row justify-content-center"> <!-- Added justify-content-center -->
        <a href="/docs/autoapi/index.html" class="btn btn-info mx-2">Code Documentation</a>
        <a href="/api/docs" class="btn btn-info mx-2">Swagger API Documentation</a>
        <a href="https://confluence Link" class="btn btn-info mx-2">Confluence Documentation</a>
    </div>

</div>
    <!-- Secrets container -->
<div class="container mt-5">

    <!-- Secrets Heading -->
    <div class="text-center mb-4">
        <h2>Secrets</h2>
    </div>

    <!-- Input Fields and Button -->
    <div class="row justify-content-center mb-4"> <!-- Added mb-4 for spacing below the button -->
        <div class="col-12 col-md-4 mb-2 mb-md-0">
            <!-- App Name Input -->
            <input type="text" id="appNameInput" placeholder="Enter app name" class="form-control">
        </div>
        <div class="col-12 col-md-4 mb-2 mb-md-0">
            <!-- Bucket Name Input -->
            <input type="text" id="bucketNameInput" placeholder="Enter bucket name" class="form-control">
        </div>
        <div class="col-12 col-md-3">
            <!-- Create Bucket Button -->
            <button id="createBucketBtn" class="btn btn-primary w-100">Create Bucket</button>
        </div>
    </div>

        <!-- Search Bar for Looking up Secrets -->
        <div class="mb-4 mt-4"> <!-- Added mt-4 for spacing above the search bar -->
            <input type="text" id="searchInput" placeholder="Search for secrets" class="form-control">
        </div>

        {% for app_name, buckets in secrets.items() %}
        <div class="card mb-2">
            <div class="card-header" data-toggle="collapse" href="#{{ app_name }}-buckets">
                <h3 class="mb-0">{{ app_name }}</h3>
            </div>
            <div id="{{ app_name }}-buckets" class="collapse">
                <div class="card-body">
                    {% for bucket, secrets_list in buckets.items() %}
                    <div class="card mb-2">
                        <div class="card-header" data-toggle="collapse" href="#{{ app_name }}-{{ bucket }}-secrets">
                            <h4 class="mb-0">{{ bucket }}</h4>
                        </div>
                        <div id="{{ app_name }}-{{ bucket }}-secrets" class="collapse">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Secret Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for secret in secrets_list %}
                                    <tr>
                                        <td>{{ secret }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Footer -->
    <div class="footer">
    &copy; {{ year }} Your Company Name. <a href="your-link-here">Link to Page</a> | Version: {{ version }} | Last Modified: {{ modifiedTime }}
    </div>


    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>

</html>